ion-toolbar{
    --background:#F23005;
    --color: #F2EFDF;
    height: 60px;
    #header{
        display: flex;
        flex-flow: row;
        justify-content: space-between;
    }
    ion-back-button{
        --color:#F2EFDF;
    }
    ion-button{
        --background:#F23005;
        --color: #F2EFDF;
        --background-activated: #F2622E;
    }
    img{
        width: 115px;
    }
}
ion-content{
    --background: #F2EFDF;
    --color: #00010D;
    --ion-fonte-family: Arial, Helvetica, sans-serif;
}
ion-card{
    --background: #fff;
    --color: #00010D;
    ion-card-header {
        display: flex;
        flex-flow: column;
        ion-card-title{
            --color: #00010D;
            padding-bottom:10px;
        }
        ion-card-subtitle{
            --color: #00010D;
            font-size:20px;
            text-transform: none;
        }
    }
    #conteudo{
        display: flex;
        flex-flow: column;
    }
    ion-item-divider{
        --background: #fff;
        --color: #00010D;
    }
}
ion-item{
    --background: #fff;
    --color: #00010D;
    --ion-fonte-family: Arial, Helvetica, sans-serif;
    padding-top: 10px;
    padding-bottom: 5px;
}