<ion-header [translucent]="false">
  <ion-toolbar>
    <div id="header">
      <ion-buttons slot="start">
        <ion-back-button text="" ></ion-back-button>
      </ion-buttons>
      <img [src]="logo" alt="" (click)="irParaHome()">
      <p>so</p>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-text><h1>Editar Notícia</h1></ion-text>
  <ion-list *ngIf="noticia !==undefined">
    <ion-item>
      <ion-label position="floating">Titulo</ion-label>
      <ion-input type="text" [(ngModel)]="noticia.titulo"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Subtítulo</ion-label>
      <ion-input type="text" [(ngModel)]="noticia.subtitulo"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Autor</ion-label>
      <ion-input [(ngModel)]="noticia.autor"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Data</ion-label>
      <ion-input type="text" [(ngModel)]="noticia.data"></ion-input>
    </ion-item>
    <div *ngFor="let imagem of noticia.imagens">
    <ion-item>
      <ion-label position="floating">Imagem</ion-label>
      <ion-input type="url" [(ngModel)]="imagem.url"></ion-input>
    </ion-item>
    </div>
    <ion-item>
      <ion-label position="floating">Destaque</ion-label>
      <ion-input type="text" [(ngModel)]="noticia.destaque"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Resumo</ion-label>
      <ion-input type="text" [(ngModel)]="noticia.resumo"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Texto</ion-label>
      <ion-input type="text" [(ngModel)]="noticia.texto"></ion-input>
    </ion-item>
  </ion-list>
  <div>
    <ion-button (click)="cancelar()" expand="block" class="ion-margin" id="cancelar">
      <ion-icon name="close-circle-outline"></ion-icon>
      Cancelar
    </ion-button>
    <ion-button expand="block" (click)="atualizar()" class="ion-margin">
      Atualizar
    </ion-button>
    <ion-fab slot="fixed" horizontal="end" vertical="bottom">
      <ion-fab-button (click)="adicionarFoto()">
        <ion-icon name="image"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </div>
</ion-content>
