ion-toolbar{
    --background:#F23005;
    --color: #F2EFDF;
    height: 60px;
    #header{
        display: flex;
        flex-flow: row;
        justify-content: space-between;
    }
    ion-back-button{
        --color:#F2EFDF;
    }
    img{
        width: 115px;
    }
    p{
        color: #F23005;
    
    }
}

ion-item{
    --background: #F2EFDF;
    --color: #00010D;
    --ion-fonte-family: Arial, Helvetica, sans-serif;
    ion-label{
        font-weight:500;
    }
}
ion-content{
    --background: #F2EFDF;
    --color: #00010D;

    h1{
        padding: 10px;
        margin-left: 26%;
    }
    ion-button{
        --background:#F23005;
        --background-activated: #F2622E;
    }
    #cancelar{
        --color:#F23005;
        --background:#F2EFDF;
        --background-activated: #F2622E;

        --border-color: #F23005;
        --border-style: solid;
        --border-width: 1px;
    }
    ion-fab-button{
        --background:#F23005;
        --background-activated: #F2622E;
    }
}