ion-toolbar{
  --background:#F23005;
  --color: #F2EFDF;
  height: 60px;
  #header{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
  }
  ion-button{
    --background:#F23005;
    --color: #F2EFDF;
    --background-activated: #F2622E;
  }
  img{
    width: 115px;
  }
  p{
    color: #F23005;

  }
}
ion-content{
  ion-searchbar{
    --background:#F2622E;
    --color:#F2EFDF;
  }
  ion-card{
    --background: #F2622E;
    --color: #F2EFDF;
    ion-card-subtitle{
      --color: #F2EFDF;
    }
  }
}
  ion-fab-button{
    --background:#F23005;
    --background-activated: #F2622E;
  }



