ion-toolbar{
  --background:#F23005;
  --color: #F2EFDF;
  height: 60px;

  ion-button{
    --background:#F23005;
    --color: #F2EFDF;
    --background-hover: #F2622E;
    --background-activated: #F2622E;
  }
}
ion-content{
  #container{
  margin-top: 26px;
  }
  ion-searchbar{
    --background:#F2622E;
    --color:#F2EFDF;
  }
  ion-card{
    --background: #F2622E;
    --color: #F2EFDF;
    ion-card-subtitle{
      --color: #F2EFDF;
    }
  }
}
  ion-fab-button{
    --background:#F23005;
    --background-hover: #F2622E;
    --background-activated: #F2622E;
  }



